* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 1;
}
header {
    width: 98%;
    margin: 40px auto;
    background-color: rgb(0, 206, 209);
}
header button {
    margin: 15px 10px 15px 15px;
    padding: 15px;
    border: none;
    background-color: rgb(148, 0, 211);
    font-weight: bold;
    color: rgb(255, 255, 255);
}
header button a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
header button:nth-last-child(1) {
    margin: 15px 15px 15px 10px;
}
section {
    width: 20%;
    margin: 0 auto 0 20px;
    background-color: rgb(255, 228, 196);
}
section button {
    margin: 17px;
    padding: 15px;
    border: 1px solid rgb(165, 42, 42);
    background-color: rgb(222, 184, 135);
    color: rgb(255, 255, 255);
}
section button a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
footer {
    flex-shrink: 0;
}